{{#if isJoin}}
  <small>{{user.name}} has joined.</small>
{{/if}}

{{#if isLeave}}
  <small>{{user.name}} has left.</small>
{{/if}}

{{#unless isJoin}}
{{#unless isLeave}}
  <small>{{user.name}}</small>
  <p>{{message}}</p>
  <time datetime="{{datetime}}">Sent at {{formattedTime}}</time>
{{/unless}}
{{/unless}}
